{% extends 'layout.html' %}

{% block title %} Cars {% endblock %}

{% block head %}
    {{ super() }}
    <style>
        #search-form *
        {
            height: 38px;
            box-sizing: border-box;
        }

        #search-form :not(:last-child)
        {
            margin-right: 3px;
        }
    </style>
{% endblock %}

{% block padded_content %}

<h1>Cars</h1>

<div style="padding: 10px 0px 10px 0px;">
    <form id="search-form" class="form-inline" method="POST">
        {{ form.hidden_tag() }}
        {{ form.search_property }}
        {{ form.search }}
        {{ form.submit(class="btn btn-dark") }}
        <a href="/cars/all"><button type="button" class="btn btn-dark">Clear</button></a>
    </form>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Body Type</th>
            <th scope="col">Colour</th>
            <th scope="col">Seats</th>
            <th scope="col">Location</th>
            <th scope="col">Price Per Hour</th>
            <th scope="col">Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.car_id }}</td>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.body_type }}</td>
                <td>{{ car.colour }}</td>
                <td>{{ car.seats }}</td>
                <td><a href="https://www.google.com/maps/search/?api=1&query={{ car.location }}"> {{ car.location }}</td>
                <td>{{ "$%.2f" % car.cost_per_hour }}</td>
                <td>{{ car.status }}</td>
                <td><a href="/car/{{ car.car_id }}/history"><button type="button" class="btn btn-dark">History</button></a></td>
                <td><a href="/edit/car/{{ car.car_id }}"><button type="button" class="btn btn-dark">Edit</button></a></td>
                <td><a href="/car/{{ car.car_id }}/issue"><button type="button" class="btn btn-dark">Report Issue</button></a></td>
            </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}
