{% extends 'layout.html' %}

{% block title %} Booking - {{car.make}} {{car.model}} {% endblock %}

{% block padded_content %}

<h1>Make a Booking</h1>

<h2>Car Details</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Body Type</th>
            <th scope="col">Colour</th>
            <th scope="col">Seats</th>
            <th scope="col">Price Per Hour</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.body_type }}</td>
                <td>{{ car.colour }}</td>
                <td>{{ car.seats }}</td>
                <td>${{ car.cost_per_hour }}</td>
            </tr>
    </tbody>
</table>

<form method="POST">
    <input type="hidden" name="car_id" value="{{ car.car_id }}">
    <input type="hidden" name="customer_id" value="{{ current_user.user_id }}">
    <div>
        <label for="start_datetime">Booking Start</label><br>
        <input id="start_datetime" name="start_datetime" type="datetime-local" onchange="setEndDateTimeMin()" required>
    </div>
    <br>
    <div>
        <label for="end_datetime">Booking End</label><br>
        <input id="end_datetime" name="end_datetime" type="datetime-local" required>
    </div>
    <br>
    <input type="submit" class="btn btn-dark" value="Complete Booking">
</form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function timeToString(value)
        {
            return value < 10 ? "0" + value : "" + value;
        }

        function setMinDate()
        {
            var current_date = new Date();
            var month = timeToString(current_date.getMonth()+1);
            var date = timeToString(current_date.getDate());
            var hours = timeToString(current_date.getHours());
            var minutes = timeToString(current_date.getMinutes());
            var min = current_date.getFullYear()+'-'+month+'-'+date+"T"+hours+":"+minutes;
            document.getElementById("start_datetime").min = min;
        }

        function setEndDateTimeMin()
        {
            document.getElementById("end_datetime").min = document.getElementById("start_datetime").value;
        }
        setMinDate()
        setInterval(setMinDate, 1 * 1000);
    </script>
{% endblock %}
