{% extends 'layout.html' %}

{% macro generate_booking_row(booking) %}
<tr>
    <td>{{ booking.car_id }}</td>
    <td>{{ cars[booking.car_id]["make"] }}</td>
    <td>{{ cars[booking.car_id]["model"] }}</td>
    <td class="time">{{ booking.start_datetime }}</td>
    <td class="time">{{ booking.end_datetime }}</td>
    <td>{{ booking.status }}</td>
    {% if booking.status == "active" %}
        <td>
            <form method="POST">
                <input type="hidden" name="customer_id" value="{{ current_user.user_id }}">
                <input type="hidden" name="car_id" value="{{ booking.car_id }}">
                <input type="hidden" name="start_datetime" value="{{ booking.start_datetime }}">
                <input type="submit" class="btn btn-dark" value="Cancel Booking">
            </form>
        </td>
    {% else%}
        <td></td>
    {% endif %}
</tr>
{% endmacro %}

{% block title %} Bookings {% endblock %}

{% block padded_content %}

<h1>Bookings</h1>

<h2>Current Bookings</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Car ID</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Booking Start</th>
            <th scope="col">Booking End</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for booking in activeBookings %}
            {{ generate_booking_row(booking) }}
        {% endfor%}
    </tbody>
</table>

<br><br>

<h2>Past Bookings</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Car ID</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Booking Start</th>
            <th scope="col">Booking End</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for booking in completeBookings %}
            {{ generate_booking_row(booking) }}
        {% endfor%}
        {% for booking in cancelledBookings %}
            {{ generate_booking_row(booking) }}
        {% endfor%}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function timeToString(value)
        {
            return value < 10 ? "0" + value : "" + value;
        }

        function formatDateTime(datetime)
        {
            tempdate = new Date(datetime);
            year = tempdate.getFullYear();
            month = timeToString(tempdate.getMonth() + 1);
            day = timeToString(tempdate.getDate());
            hours = timeToString(tempdate.getHours()%12 || 12);
            minutes = timeToString(tempdate.getMinutes());
            ampm = tempdate.getHours() < 12 ? "AM" : "PM"
            return day+"/"+month+"/"+year+" at "+hours+":"+minutes+" "+ampm;
        }

        for (var timeclass of document.getElementsByClassName("time"))
        {
            timeclass.innerHTML = formatDateTime(timeclass.innerHTML);
        }
    </script>
{% endblock %}
