{% extends 'bootstrap/base.html' %}

{% macro format_input(input) %}
<div>
    {{ input.label }}<br>
    {{ input(size=32) }}<br>
    {% for error in input.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</div>
{% endmacro %}

{% block head %}
    {{ super() }}
    <style>
        #content
        {
            padding-left : 15px;
            padding-right: 15px;
        }
    </style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">pIoT</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div id="content">
{% block padded_content %} {% endblock %}
</div>
{% endblock %}
